@import 'variables';

// BASIC ITEMS

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a, a:hover, a:active, a:visited{
    text-decoration: none;
    color: black;
    font-family: $font-h1
}

.button{
    display: block;
    width: 350px;
    height: 60px;
    border: 5px solid black;
    border-radius: 100px;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button:hover{
    border-color: $gulf-blue;
    color: $gulf-blue;
}

h2{
    font-size: 3em;
    font-family: $font-h1;
}
// INDEX CSS

header{
    width: 900px;
    height: 100vh;
    // border: 1px solid black;
    margin: 0 auto 0 auto;

    h1{
        font-size: 6em;
        font-family: $font-h1;
        width: auto;
        text-align: center;
    }

    

    .head-content{
        padding-top: 30%; 

        .head-logo{
            display: flex;
            justify-content: center;
            img{
                margin-right: 40px;
            }
        }

        // p{
        //     margin-top: 30px;
        //     text-align: center;
        // }

        .buttons-container{
            margin-top: 40px;
            display: flex;
            justify-content: space-around;
        }
    }

    .arrow{
        width: 500px;
        height: 300px;
        position: absolute;
        bottom: 0;
        left: calc(50% - 250px);
        border-bottom: 1px solid black;
        
        
    }
}

#look_down{
    position: fixed;
    bottom: 0;
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
}

.about{
    width: 900px;
    height: 100vh;
    background-color: beige;
    margin: auto;
}
