@import "variables";

// BASIC ITEMS

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: black;
  font-family: $font-h1;
}

.button {
  display: block;
  width: 350px;
  height: 60px;
  border: 5px solid black;
  border-radius: 100px;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button:hover {
  border-color: $gulf-blue;
  color: $gulf-blue;
}

h1 {
  font-size: 6em;
  font-family: $font-h1;
  width: auto;
  text-align: center;
}

h2 {
    font-size: 3em;
    font-family: $font-h1;
    width: auto;
}

.p{
    font-family: $font-p;
    font-size: 1.3rem;
}

.text-c{
    width: 100%;
    text-align: center;
    font-family: $font-h1;
    padding: 40px;
}

.mt-l{
    margin-top: 70px;
}

header{
    width: 100vw;
    height: 100vh;
    background-color: $gulf-blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.head-top{
    width: 75%;
    height: 100%;
    margin: 75px auto 125px auto;
    background-color: white;
    border-radius: 5px;
    position: relative;

    -webkit-box-shadow: 0px 0px 30px 34px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 30px 34px rgba(0,0,0,0.22);
    box-shadow: 0px 0px 30px 34px rgba(0,0,0,0.22);

    .head-logo{
        position: absolute;
        background-color: white;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        left: calc(50% - 100px);
        top: -50px;
        // background-image: url('images/logo-gijs-circle.svg');
        // background-size: 250px;
        // background-repeat: no-repeat;
        // background-position: center;

        img{
            position: absolute;
            width: 150px;
            height: 150px;
            left: calc(50% - 75px);
            top: calc(50% - 75px);
        }
    
    }

    .head-container{
        margin-top: 160px;
        
        .buttons{
            display: flex;
            justify-content: space-between;
            width: 850px;
            margin: 40px auto 0 auto;
        }

        .icons{
            width: 500px;
            margin: 0 auto 0 auto;
            text-align: center;
            display: flex;
            justify-content: space-between;

            .icon{
                width: 100px;
                height: 100px;
                // background-color: aqua;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    } 
}

.head-bottom{
    width: 100%;
    height: 40px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;

    .arrow-circle{
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 100%;
        position: absolute;
        top: -20px;
        left: calc(50% - 25px);

        .triangle{
            width: 0; 
            height: 0; 
            margin: 15px auto 0 auto;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            
            border-top: 20px solid $gulf-blue;
        }
    }
}

.about-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .about-items{
        display: flex;
        justify-content: space-between;
        width: 1000px;
        // height: 100%;
        margin: auto;

        .about-pic{
            width: 40%;
            img{
                width: 100%;
                height: auto;
                border: 5px solid $gulf-blue;
            }
        }

        .about-text{
            width: 50%;
        }
    }
}

